h1 {
  text-align: center;
  font-family: 'Clicker Script';
  font-size: 3em;

}

h2 {
  text-align: center;
  font-family: 'EB Garamond';
  font-variant: small-caps;
}

body {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/4/4e/Mavericks_Surf_Contest_2010b.jpg");
  color: black;
  font-family: "EB Garamond";
}

.NameOfSurfer {
  font-size: 2em;
  font-weight: 900;
  font-family: 'Clicker Script';
  color: brown;
  text-align: center;
  position: relative;
  float: left;
  width: 22%;
  margin-left: 2%;
  margin-right: 1%;
}

.PictureOfSurfer {
  float: left;
  width: 22%;
  margin-left: 2%;
  margin-right: 1%
}

#Duke {
  top: 90px;
}

#Kelly {
  top: 50px;
}

#Doc {
  top: 50px;
}

#Dude {
  top: 220px;
}



